@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --dun: #d3c2abff;
    --cal-poly-green: #3b4e29ff;
    --dark-moss-green: #42662bff;
    --slate-gray: #668388ff;
    --ecru: #bfaf7fff;
}

* {
margin: 0;
padding: 0;
border: none;
}

body{
    font-family: Lato, sans-serif;
}



#logo{
    font-family: "cabin sketch", sans-serif;
    font-size: 250%;
    float: left;
    margin-left: 0.5em;
    color: var(--cal-poly-green);
}

#navigation, #logo{
    line-height: 5rem;
    margin-bottom: 0;
}
/* navigation styling */
#navigation {
    font-size: 130%;
    font-weight: 500;
    letter-spacing: 0.1rem;
    float: right;
}

#navigation li {
    float: left;
    list-style: none;
    margin-right: 1.5em;

}

#navigation a{
    text-decoration: none;
    color: var(--cal-poly-green);
}

#navigation a:hover{
    border-bottom:  0.05rem black;
    color: black;
    text-decoration: underline;
}

/*images styling*/
#hero-outer{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background-position:center ;
    width: 100%;
    height: 40rem;
    background: url("/assets/images/tug-of-war.jpg") no-repeat center center;
    background-size:cover;
    animation: front-img-fade-in 4s;
}

 /*front image fade*/
@keyframes front-img-fade-in {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

/* text effects*/


#slogan-text{
letter-spacing: 0.2rem;
padding: 1.5rem;
background-color: var(--slate-gray);
color: whitesmoke;
position: absolute;
top:40%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
text-transform: uppercase;
}

#slogan-text h2{
    font-size: 28px;
}

#slogan-text h3{
    font-size: 18px;
}

/* card styling */
 .card{
    border-radius: revert;
    background-color: var(--dun);
 }

.card-title{
    font-family: "Madimi One", sans-serif;
    text-align: center;
    text-decoration: underline;
}

.card-text{
    text-align: center;
}
/* resource page styling */

#resource-container{
    background-image: url("/assets/images/teamwork-picture.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:55rem;
    overflow: hidden;
}

@media screen and (max-width: 770px) {
    #resource-container{
        height: 80rem;
    }
}

@media screen and (max-width: 450px) {
    #resource-container{
        height: 110rem;
    }
}

.resource-col{
    text-align: center;
    letter-spacing: 0.06875rem;
    font-size: 110%;
    font-weight: 600;
    background-color: rgba(118, 185, 185, 0.574);
    border-radius: 10px;
    padding: 1.875rem;
    color: white;
}
.row{
    justify-content: space-around;
    --bs-gutter-x: 0;
}

#resource-content1-2{
    font-size: smaller;
}

#resource-content3-4{
    font-size: smaller;
}


/* contact form styling */
#contact-content{
    background-image: url("/assets/images/running-images.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:45rem;
    overflow: hidden;
}

.contact-container{
    text-align: left;
    letter-spacing: 0.06875rem;
    font-size: 110%;
    font-weight: 600;
    background-color: rgba(118, 185, 185, 0.574);
    border-radius: 10px;
    padding: 1.875rem;
}

.radio-text{
    margin: 0.4rem;
}

#send-button{
    padding: 0.8rem;
    border-radius: 8rem;
    background-color: var(--dark-moss-green);
}
.form-control:hover{
    border-color: black;
}


/* footer styling */
footer{
padding-top: 1rem;
}

#footer-guide{
margin: 0 auto;
text-align: center;

}

#footer-one{
    text-align: left;
}

#footer-two{
    text-align: center;
    margin: 0 auto;
}

#footer-three{
    text-align: right;
}

.social-icons{
    text-align: center;
}

.social-icons i{
    font-size: 180%;
    color: aqua;
    text-decoration: none;
    margin: 0.5em;
}

.social-icons li{
    display: inline;
}



#warning{
    text-align: center;
    padding: 1.5rem;
    clear: both;
}





